/* -------------------------LARGE------------------------- */
@media screen and (max-width:878px){
    /* ----------MAIN---------- */
    .left-column{
        width: 214px;
        height: calc(100vh - 85px); /* 100vh - media-control */
    }

    .main-region{
        width: calc(100% - 214px); /* 100% - left-column */
    }
    
    .top-transparent{
        width: calc(100% - 214px); /* 100% - left-column */
    }

    /* ----------Navigate---------- */
    .nav-navigate ul{
        justify-content: center;
        flex-wrap: wrap;
    }

    .row{
        flex-wrap: wrap;
    }

    .box{
        transform: scale(.9);
        width: calc(100% / 4);
        padding-right: 0;
    }

    .box p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /* ----------media-control---------- */
    .media-control-center{
        width: calc(100% / 2)
    }

    .media-control-right,
    .media-control-left{
        width: calc(100% / 3);
    }
}

/* -------------------------MEDIUM------------------------- */
@media screen and (max-width:640px){
    .box{
        transform: scale(.9);
        width: calc(100% / 2);
    }

    /* ----------media-control---------- */
    .left-icon{
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    .left-icon i{
        padding: 5px;
    }

    .right-icon{
        width: 100%;
    }
    
    .right-icon i{
        transform: scale(1);
        padding: 10px 0;
    }

    .progressive-bar-audio{
        width: 100%;
    }
}

/* -------------------------SMALL------------------------- */
@media screen and (max-width:552px){
    .left-column{
        width: 50px;
        height: calc(100vh - 85px); /* 100vh - media-control */
        padding: 10px;
        align-items:  center;
    }

    .main-region{
        width: calc(100% - 50px); /* 100% - left-column */
    }
    
    .top-transparent{
        width: calc(100% - 50px); /* 100% - left-column */
    }

    #logo{
        display: none;
    }
    
    #logo-small{
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #logo-small:hover{
        cursor: pointer;
    }

    .nav-left-column ul li a{
        display: none;
    }

    .active-column{
        display: none;
    }

    .nav-left-column img{
        transform: scale(1.5);
    }

    .playlist{
        display: none;
    }

    .account{
        align-items:  center;
    }

    .account-top{
        border: none;
    }
    
    .account p{
        display: none;
    }

    #profile{
        height: 30px;
    }

    /* ----------media-control---------- */   
    .song-name span{
        white-space: inherit;
    }

    .media-control-right{        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}