/* -------------------------LARGE------------------------- */
@media screen and (max-width:878px){
    /* ----------MAIN---------- */
    .left-column{
        width: 214px;
        height: calc(100vh - 85px); /* 100vh - media-control */
    }

    .main-region{
        width: calc(100% - 214px); /* 100% - left-column */
    }
    
    .top-transparent{
        width: calc(100% - 214px); /* 100% - left-column */
    }

    /* ----------Navigate---------- */
    .nav-navigate ul{
        justify-content: center;
        flex-wrap: wrap;
    }

    .row{
        flex-wrap: wrap;
    }

    .box{
        transform: scale(.9);
        width: calc(100% / 4);
        padding-right: 0;
    }
}

/* -------------------------MEDIUM------------------------- */
@media screen and (max-width:639px){
    .box{
        transform: scale(.9);
        width: calc(100% / 2);
    }
}

/* -------------------------SMALL------------------------- */
@media screen and (max-width:552px){
    .left-column{
        width: 50px;
        height: calc(100vh - 85px); /* 100vh - media-control */
    }

    .main-region{
        width: calc(100% - 50px); /* 100% - left-column */
    }
    
    .top-transparent{
        width: calc(100% - 50px); /* 100% - left-column */
    }
}