/* ---------------GENERAL--------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 2px solid red;*/
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    overflow: hidden;
}

main{
    height: calc(100vh - 90px); /* 100vh - media-control */
}

img{
    max-width: 100%;
}

/* ---------------UTILITY--------------- */
.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid black;
}

.d-flex{
    display: flex;
}

.j-center{
    justify-content: center;
}

.p-fixed{
    position: fixed;
}

.circle{
    border-radius: 50%;
}

/* ---------------COMPONENTS--------------- */
.btn{
    padding: 15px 40px;
    color: #FCFCFC;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    backdrop-filter: blur(50px);
}

.box{
    width: calc(100% / 6);
    text-align: center;
    padding-right: 20px;
}

.song-box{
    margin-bottom: 20px;
    position: relative;
}

/* ---------------HEADER--------------- */
/* no content */

/* ---------------MAIN--------------- */
.left-column{
    width: 300px;
    background-color: #000000;
    padding: 20px;
    flex-direction: column;
    height: calc(100vh - 90px); /* 100vh - media-control */
    justify-content: space-between;
}

.left-column .account{
    justify-content: flex-end;
}

.main-region{
    width: calc(100vw - 300px); /* 100vw - left-column */
}

.top-transparent{
    z-index: 998;
    align-items: center;
    justify-content: end;
    padding-right: 25px;
    width: calc(100vw - 300px); /* 100vw - left-column */
    height: 85px;
    background-color: rgba(0, 0, 0, .50);
    backdrop-filter: blur(10px);
}

/* -----left-column----- */
#logo{
    width: 130px;
    margin-bottom: 30px;
}

#logo-small{
    display: none;
}

.nav-left-column img{
    width: 20px;
    vertical-align: middle;
}

.left-column ul{
    list-style: none;
}

.left-column ul li{
    list-style: none;
    margin-bottom: 15px;
}

.left-column ul li a{
    text-decoration: none;
    color: #717171;
    font-size: .9rem;
    font-weight: bold;
}

.playlist{
    flex-direction: column;
}

.playlist-top{
    margin: 20px 0;
}

.playlist h3{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 20px;
}

.playlist i{
    color: #FFFFFF;
    font-size: 2.5rem;
    vertical-align: middle;
    padding-right: 5px;
}

.playlist span{
    font-weight: bold;
}

.playlist-bottom{
    max-height: calc(100vh - 535px);
    overflow: auto;
}

.account-top{
    border-bottom: 2px solid #4D4D4D;
    margin-bottom: 15px;
}

.account-bottom{
    display: inline-block;
}

.account-top img{
    width: 20px;
    vertical-align: middle;
    padding: 10px 0px;
}

.account-bottom img{
    border-radius: 50%;
    vertical-align: middle;
    background-color: #808080;
    width: 35px;
    height: 35px;
}

.account-top p{
    display: inline-block;
    padding: 10px 0px;
    font-size: .8rem;
    font-weight: bold;
    margin-left: 10px;
}

.account-bottom p{
    font-size: 1.1rem;
    padding: 0 10px;
    font-weight: bold;
    color: #FFFFFF;
    display: inline-block;
}

/* -----navigate----- */
.navigate{
    padding: 85px 20px 0;  /* top-right-bottom */
    height: calc(100vh - 85px); /* 100vh - top-transparent */
    width: 100vw;
    overflow: auto;
    background-color: #141922;
}

.navigate h2{
    color: #FFFFFF;
}

.nav-navigate ul{
    display: flex;
    margin: 20px 0 45px 0; /* top-right-bottom-left */
    list-style: none;
}

.nav-navigate ul li{
    padding: 10px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}

.nav-navigate ul li a{
    text-decoration: none;
    color: #717171;
}

/* -----big-box----- */
.big-box{
    padding-bottom: 40px;
}

.big-box h2 + p{
    padding-top: 10px;
}

.big-box > p{
    padding-bottom: 30px;
}

.box p{
    color: #EFF0F0;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.box span{
    font-size: .7rem;
    font-weight: bold;
}

.song-box i{
    display: none;
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EFF0F0;
}

#special-h2{
    padding-bottom: 30px;
}

/* ---------------FOOTER--------------- */
.media-control{
    z-index: 999;
    width: 100vw;
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
}

/* -----left side----- */
.media-control-left{
    padding: 15px;
    align-items: center;
    width: calc(100% / 3);
}

.song-at-the-moment {
    width: 50px;
    margin-right: 10px;
}

.song-name{
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.song-name p{
    font-size: .8rem;
    color: #FFFFFF;
    font-weight: bold;
}

.song-name span{
    font-size: .7rem;
    font-weight: bold;
    white-space: nowrap;
}

.left-icon{
    margin-left: 65px;

}
.left-icon i{
    padding-right: 10px;
}

/* -----center side----- */
.media-control-center{
    flex-direction: column;
    padding: 15px;
    width: calc(100% / 3);
}

.control{
    align-items: center;
    justify-content: center;
}

.control i{
    color: #C1C1C1;
    padding: 5px 15px;
}

#play-control{
    font-size: 1.8rem;
}

.time{
    align-items: center;
    justify-content: center;
}

.time span{
    color: #C1C1C1;
    font-size: .8rem;
    font-weight: bold;
}

.progressive-bar{
    width: 90%;
    background-color: #5A5A5A;
    height: 5px;
    border-radius: 35px;
    margin: 0 20px;
}

.progressive-bar-audio{
    width: 25%;
    background-color: #5A5A5A;
    height: 5px;
    border-radius: 35px;
}

.progressive-bar-inside{
    width: 30%;
    background-color: #C1C1C1;
    height: 5px;
    border-radius: 35px;
    justify-content: flex-end;
    align-items: center;
}

.fa-circle{    
    display: none;
}

/* -----right side----- */
.media-control-right{
    padding: 15px;
    align-items: center;
    width: calc(100% / 3);
    justify-content: flex-end;
}

/* .media-control-right > i */
.right-icon i{
    padding-right: 15px;
    color: #C1C1C1;
}

/* ---------------HOVER--------------- */
.btn:hover{
    transform: scale(1.1);
}

.nav-navigate ul li a:hover{
    color: #FFFFFF;
}

#logo:hover{
    cursor: pointer;
}

.song-box:hover i{
    display: block;
    cursor: pointer;
}

.song-box:hover img{
    filter: brightness(50%);
    cursor: pointer;
}

.left-column a:hover,
.playlist-top:hover i,
.playlist-top:hover span,
.account p:hover,
.media-control i:hover{
    color: #C1C1C1;
    cursor: pointer;
}

.song-name:hover span{
    color: #C1C1C1;
    text-decoration: underline;
    cursor: pointer;
}

.account-bottom img:hover{
    cursor: pointer;
}

#play-control:hover{
    transform: scale(1.2);
}

.progressive-bar:hover .progressive-bar-inside,
.progressive-bar-audio:hover .progressive-bar-inside{
    background-color: #5A762B;
}

.progressive-bar:hover .fa-circle,
.progressive-bar-audio:hover .fa-circle{
    display: block;
    color: #C1C1C1;
}